$color-primary: #dc2626;

$color-primary-dark-1: #c62222;

$color-secondary: #ebb400;

$color-white: #fff;

$color-grey-light-1: #e9ecef;
$color-grey-light-2: #f0eeee;
$color-grey-light-3: #f7f7f7;

$color-grey-dark-1: #333;
$color-grey-dark-2: #555;

$transition: all 0.3s;

$border-radius-sm: 5px;

$section-padding-1: 6.4rem 0;
