@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.detail {
  &__header {
    height: 60vh;
    margin-top: 5rem; // navbar height
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: inherit;
    background-image: linear-gradient(
      to right,
      rgba(46, 46, 46, 1) calc((50vw - 17rem) - 34rem),
      rgba(46, 46, 46, 0.6) 50%,
      rgba(46, 46, 46, 0.6) 100%
    );
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    gap: 3.2rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text-box {
    color: $color-white;
    font-size: 1.6rem;
  }

  &__text {
    @include flex-column(1.6rem);
    margin-bottom: 2.4rem;
  }

  &__heading {
    font-weight: 700;
    font-size: 3rem;
  }

  &__ratings {
    @include flex-center(3.2rem);
  }

  &__genres {
    color: $color-secondary;
  }

  &__overview {
    line-height: $line-height-1;
  }

  &__btn {
    margin-bottom: 3.2rem;
  }

  &__lists {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.8rem;
    row-gap: 1.6rem;
  }

  &__title {
    font-weight: 500;
  }

  &__keywords {
    @include flex-center(0.8rem);
    flex-wrap: wrap;
  }

  &__keyword {
    display: inline-block;
    border: none;
    border-radius: 200px;
    background-color: $color-grey-dark-2;
    padding: 0.4rem 1.2rem;
  }
}
