@import "../../sass/abstracts/mixins";

.card {
  &__link {
    display: block;
  }

  &__img {
    @include fit-img;
  }

  &__content {
    @include flex-column(0.8rem);
    padding-top: 1.6rem;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-link {
    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__episode {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
