@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.full-page-loading {
  @include flex-obj-ctr;
  margin-top: 5rem; // navbar height
  height: calc(100vh - 5rem); // 100vh - 5rem(navbar height)
}

.loading {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-radius: 50%;
  border: 4px solid #f8d4d4;
  border-top-color: $color-primary;
  animation: spinner 0.6s linear infinite;
}
