@import "../../sass/abstracts/variable";
@import "../../sass/abstracts/mixins";

.article-login {
  @include modal-abs-bg;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50rem;
  padding: 4.8rem;
  background-color: $color-white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &__heading {
    text-align: center;
  }

  &__content {
    @include flex-column(3.2rem);
    margin-bottom: 4.8rem;
  }

  &__btn-box {
    margin-bottom: 2.4rem;
  }

  &__paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    font-size: 1.6rem;
  }

  &__toggle {
    display: inline-block;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    letter-spacing: 1.05px;
    background-color: transparent;
  }

  &__btn {
    border: none;
    cursor: pointer;
    color: $color-grey-dark-2;
    background-color: transparent;

    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
  }
}
